* {
 margin :0%;
 padding: 0%;
 box-sizing: border-box;
font-family: 'Poppins';
}html,
body{
    height: 100%;
    width: 100%;
}
.sec1{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-around;
.sec{  padding-top: 7px ;
    height: 50px;
       width:50px;
        border: solid 2px black;
    font-weight: bold;
    }
   
}