*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
/* 
#car1{
    width: 100px;
    height: 120px;
    background-color: aqua;
}
#car2{
    position: absolute;
    top: 20%;
    left: 9%;
    width: 110px;
    height: 90px;
    background-color: rgb(103, 255, 116);
}
#car3{
    width: 130px;
    height: 110px;
    background-color: rgb(255, 252, 49);
} */
#box{
    
    width: 200px;
    height: 200px;
    background-color: rgb(190, 252, 127);
}
#small{
    position: absolute;
    left: 35%;
    width: 50px;
    height: 80px;
    background-color: rgb(160, 127, 252);
}