* {
 margin :0%;
 padding: 0%;
 box-sizing: border-box;
font-family: 'poppins';
}html,
body{
    height: 100%;
    width: 100%;
    background-color: grey;
}

.img{
   height: 50%;
   width :80%;
   margin-left: 10%;
   margin-right: 10%;
   margin-top:5%;  
     border-radius: 10px;
 
    
}
.card{
    h3{
        margin-left: 5%;

    }
    height: 460px;
    width:280px;
    margin-left: 36%;
    border-radius: 10px;
    margin-top: 20%;
    background-color: white;
}
