* {
 margin :0%;
 padding: 0%;
 box-sizing: border-box;
font-family: 'Gilroy';
}html,
body{
    height: 100%;
    width: 100%;
}
/* CSS NOTES:
1.inline css,internal and external css: i}line mein css style tag use karna,(too hectic)|ii}another tag out then body, but it increase html file size|iii}another file is better,to use,and handle.

 SIZING: vw/vh sizing auto respected to different resolution devices 
rem/em- font size manipulating.

*/